{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!
{% endblock %}

{% block body %}
	<h1 class="text-primary text-center">{{ titleTwig }}</h1>

	{% for category in categoriesTwig %}
		<div class="border border-dark p-4 m-4 text-center">
			<h2>{{ category.name }}</h2>
			<p class="fst-italic">{{ category.description }}</p>
		</div>
	{% endfor %}
{% endblock %}
